In [1]:
# importing required packages for data manipulation

import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np
import seaborn as sns

In [2]:
# extending the number of viewable columns
pd.options.display.max_columns = 30

In [3]:
# loading the dataset
df = pd.read_csv("C:/Users/OSAGIE/Desktop/energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
# Applying MinMaxScaler to scale the features column 

from sklearn.preprocessing import MinMaxScaler

# instantiate the scaler
scaler = MinMaxScaler()
df=df[['T1','T6']]

# normalizing the features
nor_features = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [5]:
# splitting data into features(independent) and target(dependent) variables

# predictors
features = nor_features.drop(['T6'], axis=1)

# target variable
target = nor_features['T6']

In [6]:
# splitting data into training and testing set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.3, random_state = 42)

In [7]:
from sklearn.linear_model import  LinearRegression
regr = LinearRegression()
regr.fit(X_train,y_train)
predicts=regr.predict(X_test)
print(y_test,predicts)
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)
round(regr.score(X_test,y_test),2)

8980     0.211427
2754     0.250182
9132     0.168777
14359    0.501383
8875     0.155193
           ...
831      0.179450
10993    0.428613
11761    0.455974
12364    0.560638
11863    0.540387
Name: T6, Length: 5921, dtype: float64 [0.34896421 0.42110155 0.38503288 ... 0.35160924 0.42903666 0.34896421]
Intercept:
 0.05320108004858032
Coefficients:
 [0.68314068]

0.43

The R^2 value 0.43

In [8]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicts)
round(mae, 2)#prints 0.063

0.11

In [9]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [10]:
pred_lasso=lasso_reg.predict(X_test)

In [11]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,pred_lasso))
round(rmse, 3)

0.134

In [12]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [13]:
pred_ridge=ridge_reg.predict(X_test)

In [14]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,pred_ridge))
round(rmse, 3)

0.133

In [15]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicts))
round(rmse, 3)

0.133

In [16]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [17]:
# loading the dataset
df1 = pd.read_csv("C:/Users/OSAGIE/Desktop/energydata_complete.csv")
df1.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [18]:
# dropping the lights column
df1.drop(['lights'], axis=1,inplace=True)

# dropping the date column since its not a time series problem
df1.drop(['date'], axis=1, inplace=True)

In [19]:
# Applying MinMaxScaler to scale the features column 

from sklearn.preprocessing import MinMaxScaler

# instantiate the scaler
scaler = MinMaxScaler()

# normalizing the features
nor_features1 = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)

In [20]:
# splitting data into features(independent) and target(dependent) variables

# predictors
features1 = nor_features1.drop(['Appliances'], axis=1)

# target variable
target1 = nor_features1['Appliances']

In [21]:
# splitting data into training and testing set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features1, target1, test_size = 0.3, random_state = 42)

In [22]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [23]:
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880